:root{
#2a1b8c
#d35d86
#b7adf6
#a75f78
#805dd3
#c94ced
#8b43db
#5bcefa
#f5a9b8
#ffffff


font-family: 'Sysfont';
}
  @font-face {
  font-family: 'Sysfont';
  src: url('src/assets/sysfont.woff2') format('woff2'),
  url('src/assets/sysfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


body{
  margin: 0px;
  font-family: 'Sysfont';
}


.window1{
  z-index: 9;
}

.header1{
  z-index:10;
}

.window2{
  z-index: 11;
}

.header2{
  z-index:12;
}



button:hover{
  background-color:lightskyblue;
}

.desktop {
  /*background-image: url('/trippysmol.png');*/
  
  background-image:url('src/assets/wallpaper.png');
  background-repeat: repeat;
  height: 100vh;
  width: 100vw;
  background-position: center;
}

 .window {
  position: absolute;
  background-color: aliceblue;

  border:1px solid rebeccapurple;
  box-shadow: 2px 2px rebeccapurple;
  text-align: center;
  color:#313;
}

.windowheader {
  padding: 2px;
  cursor: move;
  z-index: 10;
  background-color: lightpink;
  border-bottom: 1px solid rebeccapurple;
  font-size: 18px;
  
  color: indigo;
}

.windowcontent {
  overflow-y:auto;
  margin:2px;
  max-width: 50vw;

}

/*window header styling*/

 .wrapperflex{
   display: flex;
   align-items: center;
 }

 .title{
   flex:4;
 }

  .headerbutton {
    height : 20px;
    width: 20px;
    border: 1px solid black;
    background-color : lightgray;
    font-size: 80%;
    color: black;
    margin-left:10px;
    margin-right:10px;
    background-repeat:none;
    border-radius:3px;
  }

  .cross{
    background-image: url('src/assets/cross.png');
    background-color: white;
  }

  .expand{
    background-image: url('src/assets/expand.png');
    background-color: white;
  }


  /*desktop grid system for icons*/

  .desktopGrid{
    height: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(10,1fr); 
    grid-template-rows: repeat(6,1fr); 
    grid-template-areas: 
      ". . . . . . . . . ."
      ". . . . . . . . . ."
      ". . . . . . . . . ."
      ". . . . . . . . . ."
      ". . . . . . . . . ."
      ". . . . . . . . . .";
  }


/* OS-wide windows button style */

  .windowButton{
    border:5px double indigo;
    background-color: lightgray;
    font-family: 'Sysfont';
    height: 35px;
    border-radius: 5px;
    color: indigo;
    margin-bottom: 10px;
    font-size: 20px;
    text-align:center;
    vertical-align:middle;
    min-width: 100px;

  }

